# Ignore everything
*

# Allow files and directories
!/README.md
!/LICENSE
!/statschat
!/statschat/**
!/log/.gitkeep
!/data
!/data/db_langchain
!/data/db_langchain/**
!/data/db_langchain_latest
!/data/db_langchain_latest/**
!/data/db_langchain_rebuild_v1
!/data/db_langchain_rebuild_v1/**
!/data/db_langchain_rebuild_v1_latest
!/data/db_langchain_rebuild_v1_latest/**
!/pyproject.toml
!/fast-api
!/fast-api/**

# ignore python temp
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
